.RecipeItem {
  background-color: #353535;
  border-radius: 15px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  img {
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
}